
@{
    ViewData["Title"] = "Index";
}

<div class="card" style="width: 20rem;">    
    <div class="card-block">
        <h4 class="card-title">Math Facts</h4>
        <p class="card-text">Practice your math facts.</p>
    </div>
    <ul class="list-group list-group-flush">
        <a href="/Math/Random"><li class="list-group-item">Generate random problems</li></a>
        <a href="#"><li class="list-group-item">Retake test your taking previously</li></a>        
    </ul>
    
</div>
