@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-3">Welcome to Adaptive Learning</h1>
        <p class="lead">Build your child's confidence. Help them practice stress free!</p>
    </div>
</div>


<div class="container">
    
        <h1>Welcome to Adaptive Learning. Take the stress out of practice.  </h1>
        <p>
            Adaptive Learning allows your child to routinely practice math facts and spelling while observing their emotional state. 
            If it becomes to stressful, the program will encourage your child to take a break and will remind them to
            practice later after they have calmed themselves.
        </p>
</div>
    
